/* Document */
/* -------------------------------------------------------------------------- */

body {
  width: 80rem;
  min-width: 80rem;

  margin: auto;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
/* -------------------------------------------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 4rem;
}

.header__section {
  padding-top: 1rem;
}

.logotype {
  margin: 0;
}

/* Main */
/* -------------------------------------------------------------------------- */

.month-year {
  font-size: 1.5rem;
  margin-bottom: 4.5rem;
  text-align: center;
  text-transform: full-width uppercase;
}

.days {
  display: flex;

  margin: -2.5rem;
}

/* Day */

.day {
  flex: 0 0 20%;

  box-sizing: border-box;
  padding: 2.5rem;
}

.tv-placement {
  width: 100%;
  height: 12rem; /* (80 - 4 * 2 * 2.5) / 5 = 60 / 5 = 12 */
  margin-bottom: 3rem;
}

.tv {
  width: 100%;
  height: 100%;
  background-color: orange;
}

.day__min {
  color: blue;
}

.day__max {
  color: red;
}

.day__uv-index {
  color: white;
  font-weight: bold;

  padding: 0 0.25rem;
}
