/* Document */
/* -------------------------------------------------------------------------- */

body {
  width: 80rem;
  min-width: 80rem;

  margin: auto;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
/* -------------------------------------------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 4rem;
}

.header__section {
  padding-top: 1rem;
}

.logotype {
  margin: 0;
}

/* Main */
/* -------------------------------------------------------------------------- */

.month-year {
  font-size: 1.5rem;
  margin-bottom: 4.5rem;
  text-align: center;
  text-transform: full-width uppercase;
}

.days,
.tv-positions {
  display: flex;

  margin: -2.5rem;
}

/* Day */

.day,
.tv-position {
  flex: 0 0 20%;

  box-sizing: border-box;
  padding: 2.5rem;
}

.tv-positions {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.tv {
  width: 100%;
  height: 12rem; /* (80 - 4 * 2 * 2.5) / 5 = 60 / 5 = 12 */
  background-color: orange;
  cursor: pointer;

  box-sizing: border-box;
  padding: 10%;
}

.tv-screen {
  width: 100%;
  height: 80%;

  background-color: black;

  display: grid;
  align-items: center;
  color: white;
  text-align: center;
}

.tv-screen-card-1 {
  background: blueviolet;

  &::after {
    content: "1";
  }
}

.tv-screen-card-2 {
  background: mediumpurple;

  &::after {
    content: "2";
  }
}

.tv-screen-card-3 {
  background: indigo;

  &::after {
    content: "3";
  }
}

.tv-screen-card-4 {
  background: mediumorchid;

  &::after {
    content: "4";
  }
}

.tv-screen-card-5 {
  background: rebeccapurple;

  &::after {
    content: "5";
  }
}

.day__min {
  color: blue;
}

.day__max {
  color: red;
}

.day__uv-index {
  color: white;
  font-weight: bold;

  padding: 0 0.25rem;
}
