/* Document */
/* -------------------------------------------------------------------------- */

body {
  width: 80rem;
  margin: auto;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
/* -------------------------------------------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 4rem;
}

.header__section {
  padding: 1rem 0;
}

.header__title {
  margin: 0;
}

/* Days */
/* -------------------------------------------------------------------------- */

.days {
  display: flex;

  margin: -2.5rem;
}

.day {
  flex: 0 0 20%;

  box-sizing: border-box;
  padding: 2.5rem;
}

.day__title {
  font-weight: 400;
}

.day__code {
  font-weight: 700;
  text-transform: uppercase;
}

.day__min {
  color: blue;
}

.day__max {
  color: red;
}
